{#
/**
 * @file
 * Table of contents component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - title: [string] Title text for the table of contents.
 * - position: [string] Position of the TOC: 'before', 'after', 'prepend', 'append'
 * - links: [array] Array of links [{ url, title }]. If provided, the TOC will be generated from the links.
 * - anchor_selector: [string] CSS selector for headings to include in TOC (e.g. 'h2, h3').
 * - scope_selector: [string] CSS selector for the content area to generate TOC from.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% if links %}
  {% set theme_class = 'ct-theme-%s'|format(theme|default('light')) %}
  {% set position_class = 'ct-table-of-contents--position-%s'|format(position|default('before')) %}
  {% set modifier_class = '%s %s %s'|format(theme_class, position_class, modifier_class|default('')) %}

  <div class="ct-table-of-contents {{ modifier_class }}" {% if attributes is not empty %}{{- attributes|raw -}}{% endif %}>
    {% if title %}
      <h2 class="ct-table-of-contents__title">{{ title }}</h2>
    {% endif %}
    {% if links %}
      <ul class="ct-table-of-contents__links">
        {% for link in links %}
          <li class="ct-table-of-contents__link-item">
            <a class="ct-table-of-contents__link" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% else %}
  <div
    data-table-of-contents-theme="{{ theme }}"
    data-table-of-contents-title="{{ title }}"
    data-table-of-contents-anchor-selector="{{ anchor_selector }}"
    data-table-of-contents-anchor-scope-selector="{{ scope_selector }}"
    data-table-of-contents-position="{{ position }}"
  >
    {%- block content -%}
      {{- content|raw -}}
    {%- endblock -%}
  </div>
{% endif %}
