{#
/**
 * @file
 * Layout grid component.
 *
 * Variables:
 * - grid: [array] Grid.
 * - map: [array] Map.
 * - gap_col: [integer] Column gap.
 * - gap_row: [integer] Row gap.
 */
#}

{% set gap_col_class = gap_col ? 'gap_col-%s'|format(gap_col) : '' %}
{% set gap_row_class = gap_row ? 'gap_row-%s'|format(gap_row) : '' %}

<div class="ct-cssgrid {{ gap_col_class }} {{ gap_row_class }}">
    {% for row in grid %}
        {% set row_content = row[0] %}
        {% set col_span = 0 %}
        {% set row_index = loop.index %}

        {% for cell in row %}
            {% if cell == row_content %}
                {% set col_span = col_span + 1 %}
            {% else %}
                <div class="{{ map[row_content] | lower }} col-{{ col_span }} row-{{ row_index }}">
                    {{ map[row_content] }}
                </div>
                {% set row_content = cell %}
                {% set col_span = 1 %}
            {% endif %}

            {% if loop.last %}
                <div class="{{ map[row_content] | lower }} col-{{ col_span }} row-{{ row_index }}">
                    {{ map[row_content] }}
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
