{#
/**
 * @file
 * Layout component.
 *
 * Variables:
 * - content_top: Content top slot.
 * - rail_top_left: Top left rail slot.
 * - rail_top_left_attributes: Top left rail attributes.
 * - rail_top_right: Top right rail slot.
 * - rail_top_right_attributes: Top right rail attributes.
 * - content: Content slot.
 * - content_attributes: Content attributes.
 * - rail_bottom_left: Bottom left rail slot.
 * - rail_bottom_left_attributes: Bottom left rail attributes.
 * - rail_bottom_right: Bottom right rail slot.
 * - rail_bottom_right_attributes: Bottom right rail attributes.
 * - is_contained: Whether the page is to be contained for non-layout managed pages.
 * - content_bottom: Content bottom slot.
 * - vertical_spacing: [string] With top, bottom or both vertical spaces.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set vertical_spacing = has_sidebar ? 'top' : vertical_spacing %}
{% set vertical_spacing_class = vertical_spacing in ['top', 'bottom', 'both'] ? 'ct-vertical-spacing--%s'|format(vertical_spacing) : '' %}
{% set modifier_class = '%s %s'|format(vertical_spacing_class, modifier_class|default('')) %}

{% if content or content_top or rail_top_left or rail_top_right or rail_bottom_left or rail_bottom_right or content_bottom %}
  <main class="ct-layout {{ modifier_class }}" role="main">
    {% block content_top %}
      {% if content_top is not empty %}
        {{ content_top }}
      {% endif %}
    {% endblock %}

    <div class="ct-layout__inner container">
      <div class="row">
        {% block content %}
          <section class="ct-layout__main col-xxs-12 col-m-6" style="order: 2">
            {{ content }}
          </section>
        {% endblock %}

        {% block rail_top_left %}
          <aside class="ct-layout__rail_top_left col-xxs-12 col-m-3" style="order: 1">
            {{ rail_top_left }}
          </aside>
        {% endblock %}

        {% block rail_top_right %}
          <aside class="ct-layout__rail_top_right col-xxs-12 col-m-3" style="order: 3">
            {{ rail_top_right }}
          </aside>
        {% endblock %}

        {% block rail_bottom_left %}
          <aside class="ct-layout__rail_bottom_left col-xxs-12 col-m-3" style="order: 4">
            {{ rail_bottom_left }}
          </aside>
        {% endblock %}

        {% block rail_bottom_right %}
          <aside class="ct-layout__rail_bottom_right col-xxs-12 col-m-3" style="order: 5">
            {{ rail_bottom_right }}
          </aside>
        {% endblock %}
      </div>
    </div>

    {% block content_bottom %}
      {% if content_bottom is not empty %}
        {{ content_bottom }}
      {% endif %}
    {% endblock %}
  </main>
{% endif %}
