{#
/**
 * @file
 * Layout component.
 *
 * Variables:
 * - content_top: Content top slot.
 * - rail_top_left: Top left rail slot.
 * - rail_top_left_attributes: Top left rail attributes.
 * - rail_top_right: Top right rail slot.
 * - rail_top_right_attributes: Top right rail attributes.
 * - content: Content slot.
 * - content_attributes: Content attributes.
 * - rail_bottom_left: Bottom left rail slot.
 * - rail_bottom_left_attributes: Bottom left rail attributes.
 * - rail_bottom_right: Bottom right rail slot.
 * - rail_bottom_right_attributes: Bottom right rail attributes.
 * - content_bottom: Content bottom slot.
 * - is_contained: Whether the page is to be contained.
 * - vertical_spacing: [string] With top, bottom or both vertical spaces.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set no_tl_class = rail_top_left is empty ? 'ct-layout--no-top-left' : '' %}
{% set no_tr_class = rail_top_right is empty ? 'ct-layout--no-top-right' : '' %}
{% set no_bl_class = rail_bottom_left is empty ? 'ct-layout--no-bottom-left' : '' %}
{% set no_br_class = rail_bottom_right is empty ? 'ct-layout--no-bottom-right' : '' %}
{% set is_contained = is_contained|default(true) %}
{% set is_contained_class = is_contained ? 'container' : '' %}
{% set vertical_spacing_class = vertical_spacing in ['top', 'bottom', 'both'] ? 'ct-vertical-spacing--%s'|format(vertical_spacing) : '' %}
{% set modifier_class = '%s %s %s %s %s %s %s'|format(no_tl_class, no_tr_class, no_bl_class, no_br_class, is_contained_class, vertical_spacing_class, modifier_class|default('')) %}
{% set modifier_class = modifier_class|trim %}

{% if content or content_top or rail_top_left or rail_top_right or rail_bottom_left or rail_bottom_right or content_bottom %}
	<main class="ct-layout {{ modifier_class }}" role="main" {% if attributes is not empty %}{{ attributes|raw }}{% endif %}>
		{% block content_top %}
			{% if content_top is not empty %}
				{{ content_top }}
			{% endif %}
		{% endblock %}

		<div class="ct-layout__inner">
			{% if content is not empty %}
				{% block content %}
					<section class="ct-layout__main" {% if content_attributes is not empty %}{{ content_attributes|raw }}{% endif %}>
						{{ content }}
					</section>
				{% endblock %}
			{% endif %}

			{% if rail_top_left is not empty %}
				{% block rail_top_left %}
					<aside class="ct-layout__rail_top_left" {% if rail_top_left_attributes is not empty %}{{ rail_top_left_attributes|raw }}{% endif %}>
						{{ rail_top_left }}
					</aside>
				{% endblock %}
			{% endif %}

			{% if rail_top_right is not empty %}
				{% block rail_top_right %}
					<aside class="ct-layout__rail_top_right" {% if rail_top_right_attributes is not empty %}{{ rail_top_right_attributes|raw }}{% endif %}>
						{{ rail_top_right }}
					</aside>
				{% endblock %}
			{% endif %}

			{% if rail_bottom_left is not empty %}
				{% block rail_bottom_left %}
					<aside class="ct-layout__rail_bottom_left" {% if rail_bottom_left_attributes is not empty %}{{ rail_bottom_left_attributes|raw }}{% endif %}>
						{{ rail_bottom_left }}
					</aside>
				{% endblock %}
			{% endif %}

			{% if rail_bottom_right is not empty %}
				{% block rail_bottom_right %}
					<aside class="ct-layout__rail_bottom_right" {% if rail_bottom_right_attributes is not empty %}{{ rail_bottom_right_attributes|raw }}{% endif %}>
						{{ rail_bottom_right }}
					</aside>
				{% endblock %}
			{% endif %}
		</div>

		{% block content_bottom %}
			{% if content_bottom is not empty %}
				{{ content_bottom }}
			{% endif %}
		{% endblock %}
	</main>
{% endif %}
