{#
/**
 * @file
 * Layout component.
 *
 * Variables:
 * - content_top: Content top slot.
 * - rail_left_top: Top left rail slot.
 * - rail_left_top_attributes: Top left rail attributes.
 * - rail_right_top: Top right rail slot.
 * - rail_right_top_attributes: Top right rail attributes.
 * - content: Content slot.
 * - content_attributes: Content attributes.
 * - rail_left_bottom: Bottom left rail slot.
 * - rail_left_bottom_attributes: Bottom left rail attributes.
 * - rail_right_bottom: Bottom right rail slot.
 * - rail_right_bottom_attributes: Bottom right rail attributes.
 * - is_contained: Whether the page is to be contained for non-layout managed pages.
 * - content_bottom: Content bottom slot.
 * - vertical_spacing: [string] With top, bottom or both vertical spaces.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set vertical_spacing = has_sidebar ? 'top' : vertical_spacing %}
{% set vertical_spacing_class = vertical_spacing in ['top', 'bottom', 'both'] ? 'ct-vertical-spacing--%s'|format(vertical_spacing) : '' %}
{% set modifier_class = '%s %s'|format(vertical_spacing_class, modifier_class|default('')) %}

{% if content or sidebar %}
  <main class="ct-layout {{ modifier_class }}" role="main">

    {% block content_top %}
      {% if content_top is not empty %}
        {{ content_top }}
      {% endif %}
    {% endblock %}

    <div class="ct-layout__inner {{ has_sidebar or is_contained ? 'container' : '' }}">

      {% if has_sidebar or is_contained %}
      <div class="row">
      {% endif %}

        {% if has_sidebar %}
          {% block sidebar %}
            <aside class="ct-layout__sidebar {% if has_sidebar %}col-m-3 col-xxs-12{% endif %}" role="complementary" {% if sidebar_attributes %}{{ sidebar_attributes }}{% endif %}>
              {{ sidebar }}
            </aside>
          {% endblock %}
        {% endif %}

        {% block content %}
          <section class="ct-layout__main {% if has_sidebar %}col-m-8 col-m-offset-1 col-xxs-12{% elseif is_contained %} col-m-12 col-xxs-12{% endif %}" {% if content_attributes %}{{ content_attributes }}{% endif %}>
            {{ content }}
          </section>
        {% endblock %}

      {% if has_sidebar or is_contained %}
      </div>
      {% endif %}
    </div>

    {% block content_bottom %}
      {% if content_bottom is not empty %}
        {{ content_bottom }}
      {% endif %}
    {% endblock %}

  </main>
{% endif %}
