{#
/**
 * @file
 * Checkbox component.
 *
 * Variables:
 * - name: [string] DOM name.
 * - theme: [string] Theme: light, dark.
 * - content: [string] Input field label.
 * - value: [string] Input field value.
 * - is_disabled: [boolean] Disabled state.
 * - is_required: [boolean] Required state.
 * - for: [string] Which component this label belongs to.
 * - has_error: [boolean] Error state.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% set disabled_class = is_disabled ? 'ct-checkbox--disabled' : '' %}
{% set required_class = is_required ? 'ct-checkbox--required' : '' %}
{% set error_class = has_error ? 'ct-checkbox--error' : '' %}
{% set theme_class = 'ct-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s %s %s %s'|format(theme_class, disabled_class, required_class, error_class, modifier_class|default('')) %}

<div class="ct-checkbox {{ modifier_class|trim }}">
  <input
    name="{{ name }}"
    type="checkbox"
    class="ct-checkbox__element"
    value="{{ value }}"
    id="{{ for }}"
    {{ is_disabled ? 'disabled' }}
    {{ is_required ? 'required' }}
    {% if attributes is not empty %}{{ attributes|raw }}{% endif %}
  />
  <span class="ct-checkbox__state"></span>
  {% if content is not empty %}
    {% include '@atoms/label/label.twig' with {
        theme: theme,
        content: content,
        is_required: is_required,
        for: for ? for : null,
        modifier_class: 'ct-checkbox__label ' ~ is_disabled ? ' ct-checkbox__label--disabled',
      } only %}
  {% endif %}
</div>
